.row.my-5 .col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fs-1 {
    font-size: 2.5rem;
}
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000; 
    color: #000; 
  }
  
  